



.home-page-wrapper {
	.hero {
		background-image:url('/img/tacos.jpg');
		height:100vh;
		min-height:700px;
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
		.img-fluid {
			max-width:50%;
			padding:15px;
		}
	}
}