$highlight: #ff7e0a;
$highlight2: #dc6800;
$grey: #EBEBEB;
$grey2: #ccc;
$headings: #025F80;
$blue: #6666FF;
body {
	font-family: 'Oswald', sans-serif;
	font-size:16px;
}


.home-page-wrapper {
	justify-items: center;
	.hero {
		background-image:url('/img/tacos.jpg');
		height:100vh;
		min-height:700px;
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
		.img-fluid {
			max-width:300px;
			padding:25px;
		}
	}
	nav {
		ul {
			list-style-type:none;
			margin:0px;
			padding:0px;
			li {
				float:right;
				display:inline-block;
				a {
					color:$blue;
					display:inline-block;
					padding:5px;
					font-weight:900;
					text-transform:uppercase;
					margin-left:20px;
					font-size:18px;
				}
			}
		}
	}
	.hero-content {
		padding:30px;
		.selection {
			width:450px;
			//height:300px;
			//border:1px solid yellow;
			margin:0 auto;
			margin-top:250px;
			margin-bottom:200px;

			h1 {
				font-weight:bold;
				font-size:45px;
				//width:90%;
			}

			form {
				margin-top:30px;
				//width:400px;
				span.icon {
					cursor:normal;
					background-color:$grey;
					//box-shadow:0px 0px 2px $grey2;
					text-align:center;
					padding-top:8px;
					padding-bottom:8px;
					width:10%;
					border:none !important;
					outline:none !important;
					display:inline-block;
					float:left;
					border-top-left-radius:5px;
					border-bottom-left-radius:5px;
					color:$blue;
				}
				select {
					-webkit-appearance: none;
					padding:8px;
					width:75%;
					background-color:$grey;
					border:0px;
					oultine:none !important;
					
					font-weight:300;
					//box-shadow:0px 0px 2px $grey2;
					&:focus {
						border:0px !important;
						outline:none !important;
						//box-shadow:0px 0px 2px $grey2;
					}
				}
				button.submit {
					float:right;
					width:15%;
					background-color:$highlight2;
					color:white;
					text-align:center;
					border:none !important;
					outline:none !important;
					padding-top:8px;
					padding-bottom:8px;
					border-top-right-radius:5px;
					border-bottom-right-radius:5px;
					//box-shadow:0px 0px 2px $grey2;
					transition:all 0.5s;
					&:hover {
						cursor:pointer;
						background-color:$highlight;
					}
				}
			}
		}
	}
}














.under-hero {
	padding:100px 0px;
	text-align:center;

	.icon-img {
		height:100px;
		width:100px;
		margin:0 auto;
		//margin-bottom:25px;
		display:block;
	}
	h2 {
		font-weight:bold;
		font-size:16px;
		margin-top:10px;
		color:$headings;
		margin-bottom:0px;
		padding-bottom:0px;
	}
	p {
		padding:5px 15px;
		font-weight:300;
	}
}

.is-relative {
	position:relative;
}

.order-up {
	padding:100px 0px;
	h2 {
		color:$headings;
	}
	p {
		font-weight:300;
	}
	.chat-bubble {
		height:125px;
		width:125px;
		position:absolute;
		bottom:-20px;
		left:-20px;
		img {
			width:100%;
		}
	}
}